@import "../styles.scss";

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 20rem;
    width: 100%;

    .form-row {
        display: flex;
        flex-direction: column;
    }

    .buttons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .cancel {
            cursor: pointer;
            border: 1px solid $blue;
            background-color: $white;

            &:hover {
                background-color: rgba($blue, 0.1);
            }
        }
    }

    button {
        width: 8rem;
        align-self: flex-end;
        border: 1px solid $black;
        border-radius: 0.7rem;
        padding: 0.5rem 1.2rem;
    }

    input, select {
        padding: 0.5rem;
        border-radius: 0.3rem;
        border-width: 1px;
    }

    span {
        font-size: 0.8rem;
        color: red;
    }

    .enabled {
        color: $white;
        background-color: $blue;
        cursor: pointer;

        &:hover {
            background-color: $blue-dark;
        }
    }

    .disabled {
        color: $black;
        background-color: $gray;
        cursor: not-allowed;
    }
}

.content {
    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        align-self: flex-start;
        margin-bottom: 2rem;
    }
}
