<div class="content">
    <a routerLink="/user-list">&lt; Back to home</a>
    <form [formGroup]="form">
        <div class="form-row">
            <label for="firstName">First Name: </label>
            <input type="text" formControlName="firstName" />
            <span *ngIf="form.controls['firstName'].touched && !form.controls['firstName'].valid">This field is
                required.</span>
        </div>

        <div class="form-row">
            <label for="lastName">Last Name: </label>
            <input type="text" formControlName="lastName" />
            <span *ngIf="form.controls['lastName'].touched && !form.controls['lastName'].valid">This field is
                required.</span>
        </div>

        <div class="form-row">
            <label for="username">Username: </label>
            <input type="text" formControlName="username" />
            <span *ngIf="form.controls['username'].touched && !form.controls['username'].valid">This field is
                required.</span>
        </div>

        <div class="form-row">
            <label for="password">Password: </label>
            <input type="password" formControlName="password" />
            <span *ngIf="form.controls['password'].touched && !form.controls['password'].valid">This field is
                required.</span>
        </div>

        <div class="form-row">
            <label for="email">Email: </label>
            <input type="email" formControlName="email" />
            <span *ngIf="form.controls['email'].touched && !form.controls['email'].valid">This field is required.</span>
        </div>

        <div class="form-row" *ngIf="statuses$ | async as statuses">
            <label for="statusId">Status:</label>
            <select formControlName="statusId">
                <option value="">Choose status...</option>
                <option *ngFor="let status of statuses" [value]="status.statusId">{{ status.name }}</option>
            </select>
            <span *ngIf="form.controls['statusId'].touched && !form.controls['statusId'].valid">
                This field is required.
            </span>
        </div>

        <div class="buttons-wrapper">
            <button *ngIf="userId" class="cancel">Cancel</button>
            <button type="button" [ngClass]="(form.valid && (loading$ | async) === false) ? 'enabled': 'disabled'"
                (click)="onSubmit()">{{userId ? 'Save' : 'Submit'}}</button>
        </div>

    </form>
</div>