<div class="content">
    <div class="header">
        <h1>User Management</h1>
        <a routerLink="/new-user"><button>Create User</button></a>
    </div>

    <button class="filters" (click)="showFilters$.next(true)">Filters</button>

    <div *ngIf="userList$ | async as userList; else noResults">
        <app-grid *ngIf="userList.results?.length; else noResults" [users]="userList.results ?? []"
            [activePage]="userList.page" [totalPages]="userList.totalPages ?? 0"
            (pageToggle)="onPageClick($event, userList.page)" (ordering)="onOrdering($event)"
            (onDelete)="deleteUser$.next($event)">
        </app-grid>
    </div>

    <ng-template #noResults>
        <div class="no-results">
            <h4>No results.</h4>
        </div>
    </ng-template>
</div>

<app-popup *ngIf="!!(deleteUser$ | async)" (close)="deleteUser$.next(false)">
    <div class="delete-popup">
        <h2>Are you sure you want to delete this user?</h2>
        <div class="buttons-wrapper">
            <button class="cancel" (click)="deleteUser$.next(false)">No</button>
            <button (click)="onDelete()">Yes</button>
        </div>
    </div>
</app-popup>

<app-popup *ngIf="showFilters$ | async" (close)="showFilters$.next(false)">
    <app-filters [currentFilters]="filters$.value" (apply)="onApplyFilters($event)"></app-filters>
</app-popup>