@import "../styles.scss";

.content {
    padding: 2rem 4rem;

    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
}

.header {
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid $gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border: 1px solid $black;
    border-radius: 0.7rem;
    color: $white;
    background-color: $blue;
    padding: 0.5rem 1.2rem;
    cursor: pointer;

    &:hover {
        background-color: $blue-dark;
    }
}