<div class="table-wrapper">
    <table>
        <col span="5" class="content">
        <col span="3" class="action">
        <tr>
            <th [class.active-ordering]="activeOrderingField === 'firstName'">
                First Name <app-ordering (ordering)="onOrdering($event, 'firstName')"></app-ordering>
            </th>
            <th [class.active-ordering]="activeOrderingField === 'lastName'">
                Last Name <app-ordering (ordering)="onOrdering($event, 'lastName')"></app-ordering>
            </th>
            <th [class.active-ordering]="activeOrderingField === 'username'">
                Username <app-ordering (ordering)="onOrdering($event, 'username')"></app-ordering>
            </th>
            <th [class.active-ordering]="activeOrderingField === 'email'">
                Email <app-ordering (ordering)="onOrdering($event, 'email')"></app-ordering>
            </th>
            <th [class.active-ordering]="activeOrderingField === 'status'">
                Status <app-ordering (ordering)="onOrdering($event, 'status')"></app-ordering>
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.status }}</td>
            <td class="action"><a [routerLink]="['../', 'user', user.userId]">Edit</a></td>
            <td class="action"><a (click)="onDelete.emit(user.userId)">Delete</a></td>
            <td class="action"><a [routerLink]="['../', 'user', user.userId, 'permissions']">Assign</a></td>
        </tr>
    </table>

    <div class="paging">
        <a *ngIf="activePage > 1" (click)="pageToggle.emit(-1)">&lt;</a>
        <p>{{activePage}}</p>
        <a *ngIf="activePage < totalPages" (click)="pageToggle.emit(1)">&gt;</a>
    </div>
</div>